<div class="container">
		<div id="uploadBtnDiv">
			<a href="#/upload" >
				<button id="single-button" type="button" class="btn btn-primary" style="margin-bottom: 2%;">  Upload New Poem</button>
			</a>
		</div>
		<div style="padding-bottom: 50px">
			<div id="poemDiv"  ng-repeat="poem in mainService.poemArray">
				<div class="well" id="{{poem.date_ts}}">
					<table style="width: 100%">
						<tr>
							<td style="width:20%;vertical-align: top">
							</td>
							<td style="width:60%;vertical-align: top">
		                        <p class="newlineData">{{poem.data}}</p>	                        
		                    </td>
		                    <td style="width:20%;vertical-align: top">
		                    </td>
						</tr>
						<tr>
							<td style="width:20%;vertical-align: top">
								<span ng-class="{'liked': poem.likes.indexOf(mainService.currentUser.username)!=-1 , 'notliked': poem.likes.indexOf(mainService.currentUser.username)==-1}" uib-tooltip-template="'poemlikelistTemplate.html'" tooltip-popup-close-delay='1000' tooltip-enable="poem.likes.length!=0"><i class="fa fa-thumbs-up pointer" ng-click="addlike(poem);"></i></span> {{poem.likes.length}}
							</td>
							<td style="width:60%;vertical-align: top">
							</td>
							<td style="width:20%;vertical-align: top">
								<span><i class="fa fa-user"></i></span> {{poem.username}}
							</td>
						</tr>
						<tr>
							<td style="width:20%;vertical-align: top">							
							</td>
							<td style="width:60%;vertical-align: top">
							</td>
							<td style="width:20%;vertical-align: top">
								{{poem.display_date}}
							</td>
						</tr>
					</table>
				</div>				
				<div class="well commentDiv" ng-show="poem.comments.length!=0">
					<table style="width: 100%" ng-repeat="comment in comments = poem.comments | orderBy: 'date_ts'">
						<tr>
							<td style="width:20%;vertical-align: top">
							</td>
							<td style="width:40%;vertical-align: top">
		                        <p class="newlineData">{{comment.text}}</p>	                        
		                    </td>	
		                    <td style="width:40%;vertical-align: top">
		                    </td>
						</tr>
						<tr>
							<td style="width:20%;vertical-align: top">
								<span ng-class="{'liked': comment.likes.indexOf(mainService.currentUser.username)!=-1 , 'notliked': comment.likes.indexOf(mainService.currentUser.username)==-1}" uib-tooltip-template="'commentlikelistTemplate.html'" tooltip-popup-close-delay='1000' tooltip-enable="comment.likes.length!=0"> <i class="fa fa-thumbs-up pointer" ng-click="addCommentLike(comment);"></i></span> {{comment.likes.length}}
							</td>
							<td style="width:40%;vertical-align: top">
							</td>
							<td style="width:40%;vertical-align: top">
								<span><i class="fa fa-user"></i></span> {{comment.username}}
							</td>
						</tr>
						<tr ng-class="{'comment_last_tr_tag':!$last}">
							<td style="width:20%;vertical-align: top">							
							</td>
							<td style="width:40%;vertical-align: top">
							</td>
							<td style="width:40%;vertical-align: top">
								{{comment.display_date}}
							</td>
						</tr>
					</table>					
				</div>
				<div>
					<p>
						<textarea ng-model="commentTextarea" rows="2" cols="50" class="input-no-width rounded shaded left clearboth" id="taid{{poem.date_ts}}" required></textarea> <button type="button" class="btn btn-primary btn-sm" ng-click="addComment(poem);"> Comment </button>
					</p>
				</div>
			</div>
			<hr class="poemDivHrTag">	
		</div>
	</div>