<div class="container">
	<div style="padding-bottom: 50px">
		<table style="width: 100%">
			<tr ng-show="message!=''" >
				<td colspan="2" style="width: 100%; padding: 10px;">
					<div  class="alert alert-info" role="alert">{{message}}</div>
				</td>
			</tr>
			<tr>
				<td style="width: 45%; padding-left: 40px; vertical-align: top">
					<div id="login">
						<h1>
							<strong>Welcome.</strong> Please login.
						</h1>
						
							<fieldset>
								<p>
									<input type="text" name="user" placeholder="Username" class="login"
											ng-model="username" required>
									
									<div role="alert">
     									 <span class="error" style="color:red" ng-show="uerror!='' &&(username=='' || !username )">
      									 {{uerror}}</span>
  									  </div>
								</p>
								<p>
									<input type="password" name="passwrd" class="login" placeholder="Password"
											ng-model="password" required>
									
									<div role="alert">
     									 <span class="error" style="color:red"  ng-show="perror!='' &&(password=='' || !password) ">
      									  {{perror}}</span>
  									  </div>
								</p>
								<p>
									<!-- <a href="#">Forgot Password?</a> --> <a style="float: right;margin-right: 20px;" href="#/signup">Sign Up</a>
								</p>
								<p>
									<input type="submit" value="Login" class="submitbtn"
										ng-click="login();">
								</p>
							</fieldset>
						

					</div> <!-- end login -->
				</td>
			</tr>
		</table>
	</div>
</div>