<div class="container">
	<div style="padding-bottom: 50px">
		<table style="width: 100%">
			<tr ng-show="message!=''">
				<td  colspan="2" style="width: 100%; padding: 10px;">
					<div class="alert alert-info" role="alert">{{message}}</div>
				</td>
			</tr>
			<tr>
				<td style="width: 45%; padding-left: 40px; vertical-align: top">
					<div id="signup">
						<h1>
							<strong>Welcome.</strong> Please Sign Up.
						</h1>
						
							<fieldset>
								<p>
									<input type="text"   placeholder="Username" class="login" ng-model="signup_username" required>
									<div role="alert">
     									 <span class="error" style="color:red" ng-show="suerror!='' &&(signup_username=='' || !signup_username )">
      									 {{suerror}}</span>
  									 </div>
								</p>
								<p>
									<input type="password" class="login" placeholder="Password" ng-model="signup_password" required>
									<div role="alert">
     									 <span class="error" style="color:red" ng-show="sperror!='' &&(signup_password=='' || !signup_password) ">
      									  {{sperror}}</span>
  									 </div>
								</p>
								<p>
									<input type="password"  class="login" placeholder="Confirm Password" ng-model="confirmpassword" required>
									<div role="alert">
     									 <span class="error" style="color:red" ng-show="scperror!='' &&(confirmpassword=='' || !confirmpassword)||(confirmpassword!=signup_password) ">
      									  {{scperror}}</span>
  									 </div>
								</p>
								<p>
									<input type="number"  class="login" name="mb" placeholder="Mobile No" ng-model="mobile"  required>
									<div role="alert">
										<span class="error" style="color:red" ng-show="merror!='' &&(mobile.length!=10) || !is-int(mobile)">
      									  {{merror}}</span>     									
  									 </div>
								</p>
									<input type="email"  class="login" placeholder="Your Email" ng-model="email" required/>
									<div role="alert">
     									 <span class="error" style="color:red" ng-show="emerror!='' &&(email=='' || !email)">
      									  {{emerror}}</span>
  									 </div>
								</p>

								<p>
									<input type="submit" value="SignUp" class="submitbtn"
										ng-click="signup();">
								</p>
								<p>
									<a href="#/">Back</a>
								</p>
								
							</fieldset>
						

					</div> <!-- end signup -->
				</td>
			</tr>
		</table>
	</div>
</div>