<div class="container">
	<div style="padding-bottom: 50px">
		<table style="width: 100%">
			<tr>
				<td style="width: 45%; padding-left: 40px; vertical-align: top">
					<div id="signup">
						<form action="javascript:void(0);" method="get">
							<fieldset>
								<p>
									<textarea ng-model="poemTextarea" rows="8" cols="50" class="input-no-width rounded shaded left clearboth" id="poemTextarea" required></textarea>
								</p>
								
								<p>
									<input type="submit" value="Upload" class="submitbtn"
										ng-click="upload();">
								</p>
								<p>
									<a href="#/home">Back</a>
								</p>	
								
							</fieldset>
						</form>

					</div> <!-- end signup -->
				</td>
			</tr>
		</table>
	</div>
</div>