<!DOCTYPE html>
<html ng-app="poemApp">
<head>
    <link rel="stylesheet" href="resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="resources/css/app.css">
    <link rel="stylesheet" href="resources/css/font-awesome/css/font-awesome.min.css">
    <script type="text/javascript"
        src="resources/thirdparty/angularjs/angular.min.js"></script>
    <script type="text/javascript"
        src="resources/thirdparty/angularjs/angular-route.min.js"></script>
    <script type="text/javascript"
        src="resources/thirdparty/angularjs/angular-animate.min.js"></script>        
    <script type="text/javascript"
        src="resources/thirdparty/bootstrap/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <script type="text/javascript"
        src="resources/thirdparty/jquery/jquery-1.11.3.min.js"></script>
    <script type="text/javascript"
        src="resources/thirdparty/bootstrap/bootstrap.min.js"></script>
    
    
    <script type="text/javascript" src="resources/js/app.js"></script>
    <script type="text/javascript" src="resources/js/mainservice.js"></script>
    <script type="text/javascript" src="resources/js/maincontroller.js"></script>
    <script type="text/ng-template" id="commentlikelistTemplate.html">
      <div ng-repeat="like in likes = comment.likes">
        {{like}}
      </div>
    </script>
    <script type="text/ng-template" id="poemlikelistTemplate.html">
      <div ng-repeat="like in likes = poem.likes">
        {{like}}
      </div>
    </script>
<meta charset="UTF-8">
<title>Poem Portal</title>
</head>
<body ng-controller="MainCtrl">
    <h1>Welcome to Poem portal</h1>
    <br>

    <header class="navbar navbar-static-top" id="top" role="banner">
        <div class="container">
            <header class="navbar navbar-default navbar-fixed-top">
                <div class="navbar-inner">                  
                        <div id="headerNameDiv" class="navbar-header col-xs-10" align="Center">          
                                <h1>Poetry Portal</h1>                                                 
                                              
                       </div>
                        <div ng-show="mainService.isUserLoggedIn" class="col-xs-2" style="padding-top: 1.5%;">
                            <div class="btn-group" uib-dropdown is-open="status.isopen">
                              <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                                {{mainService.currentUser.username}}<span style="margin-left:10%;"><i class="fa fa-user"></i></span> <span style="margin-right: 10%;" class="caret"></span>
                              </button>
                              <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
                                <li role="menuitem"><a ng-click="logout();">Logout</a></li>                               
                              </ul>
                            </div>
                        </div>                         
            </div>

            </header>
            <div class="header-placeholder"></div>
        </div>
    </header>
    
<div ng-view="">
</div>

</body>
</html>