<html ng-app="helloAjaxApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Hello AngularJS - How To POST JSON Data From $http Service</title>
<link rel="stylesheet"
    href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<script
    src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>
<script
    src="assets/js/ui-bootstrap-tpls-0.9.0.min.js"></script>
<script>
var helloAjaxApp = angular.module("helloAjaxApp", ['ui.bootstrap']);

helloAjaxApp.controller("CompanyCtrl", ['$scope', '$http', function($scope, $http) {
    $scope.companies = [
                        { 'name':'Infosys Technologies',
                            'employees': 125000,
                            'headoffice': 'Bangalore'},
                            { 'name':'Cognizant Technologies',
                                'employees': 100000,
                                'headoffice': 'Bangalore'},
                                { 'name':'Wipro',
                                    'employees': 115000,
                                    'headoffice': 'Bangalore'},
                                    { 'name':'Tata Consultancy Services (TCS)',
                                        'employees': 150000,
                                        'headoffice': 'Bangalore'},                                     
                        ];
    
    $scope.addRowAsyncAsJSON = function(){      
        $scope.companies.push({ 'name':$scope.name, 'employees': $scope.employees, 'headoffice':$scope.headoffice });
        // Writing it to the server
        //      
        var dataObj = {
                name : $scope.name,
                employees : $scope.employees,
                headoffice : $scope.headoffice
        };  
        var res = $http.post('/savecompany_json', dataObj);
        res.success(function(data, status, headers, config) {
            $scope.message = data;
        });
        res.error(function(data, status, headers, config) {
            alert( "failure message: " + JSON.stringify({data: data}));
        });     
        // Making the fields empty
        //
        $scope.name='';
        $scope.employees='';
        $scope.headoffice='';
    };
}]);
</script>

</head>

<body ng-controller="CompanyCtrl">
	<header class="navbar navbar-static-top" id="top" role="banner">
	
<div class="container">
<header class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3" ng-click="isCollapsed = !isCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand visible-xs" href="#">UI Bootstrap</a>
            </div>
            <nav class="hidden-xs">
                <ul class="nav navbar-nav">
                    <a href="/" role="button" class="navbar-brand">
                        AngularJS Tutorials
                    </a>
                    <li class="dropdown">
                        <a role="button" class="dropdown-toggle">
                            AngularJS Demos <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/helloworld">Hello World</a></li>
			<li><a href="/addtablerow">Add Table Row Dynamically</a></li>
			<li><a href="/removetablerow">Remove Table Row Dynamically</a></li>
			<li><a href="/searchtable">Search Table</a></li>
			<li><a href="/sorttablecolumn">Sorting Table Columns</a></li>
			<li><a href="/spa">Routing & Single Page Application (SPA)</a></li>
			<li><a href="/angularjs-unit-test-code-example-1">Unit Test
					Code Example 1</a></li>
			<li><a href="/angularjs-filters-examples">Filters Examples</a></li>
			<li><a href="/angularjs-http-service-ajax-get-code-example">AJAX
					GET &amp; Spring MVC Example</a></li>
			<li><a href="/angularjs-http-service-ajax-post-code-example">AJAX
					POST &amp; Spring MVC Example</a></li>
			<li><a
				href="/angularjs-http-service-ajax-post-json-data-code-example">AJAX
					POST JSON Data &amp; Spring MVC Example</a></li>
			<li><a href="/angularjs-restful-apis-get-method-code-example">Consuming
					RESTful APIs with ngResource and Spring MVC</a></li>
			<li><a href="/angularjs-restful-apis-post-method-code-example">Post
					with RESTful APIs, ngResource and Spring MVC</a></li>
			<li><a href="/angularjs-single-page-app-restful-apis">Single
					Page App with RESTful APIs</a></li>
			<li><a href="/angularjs-create-custom-services">How to
					Create Custom Service</a></li>
			<li><a href="/angularjs-directives-hello-world">Custom Directives Hello World</a></li>
			<li><a href="/angularjs-how-create-custom-directives">How to
					Create Custom Directives</a></li>
			<li><a href="/angularjs-create-custom-filter">How to Create A Custom Filter</a></li>
			<li><a href="/angularjs-non-nested-directives-directives-communication-code-example">Non-nested Directives-Directives Communication</a></li>
                        </ul>
                    </li> 
                    <li class="dropdown">
                        <a role="button" class="dropdown-toggle">
                            KendoUI-AngularJS Demos <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/kendoui-helloworld">Hello World</a></li>
			            </ul>
                    </li>
                    <li class="dropdown">
                        <a role="button" class="dropdown-toggle">
                            Interview Questions <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/angularjs-interview-questions-set-1">Questions Set 1</a></li>
                            <li><a href="/angularjs-interview-questions-set-2">Questions Set 2</a></li>
			            </ul>
                    </li>                   
                </ul>
            </nav>
            <nav class="visible-xs" collapse="!isCollapsed">
                <ul class="nav navbar-nav">                    
                    <li><a href="#directives_small" ng-click="isCollapsed = !isCollapsed">Demos</a></li>
                    <li><a href="#directives_small" ng-click="isCollapsed = !isCollapsed">KendoUI AngularJS Demos</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<div class="header-placeholder"></div>
</div>
	</header>
<div class="container">
<div style="padding-bottom:50px">
            <table style="width:100%">
                <tr>
                    <td colspan="2" style="width:100%;padding:10px;">                   
                    <div class="alert alert-info" role="alert">{{message}}</div>
                    </td>
                </tr>
                <tr>                    
                    <td style="width:45%;padding-left:40px;vertical-align: top">
                        <div style="padding-bottom:20px">
                            <h3>Add a Company</h3>
                        </div>
                        <form class="form-horizontal" role="form" ng-submit="addRowAsyncAsJSON()">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Name</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="name"
                                        ng-model="name" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Employees</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="employees"
                                        ng-model="employees" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Headoffice</label>
                                <div class="col-md-4">
                                    <input type="text" class="form-control" name="headoffice"
                                        ng-model="headoffice" />
                                    </div>
                            </div>
                            <div class="form-group">                                
                                <div style="padding-left:110px">
                                    <input type="submit" value="Submit" class="btn btn-primary"/>
                                </div>
                            </div>
                        </form>
                    </td>
                    <td style="vertical-align: top">
                        <table class="table">
                            <tr>
                                <th>Name
                                </th>
                                <th>Employees
                                </th>
                                <th>Head Office
                                </th>
                            </tr>
                            <tr ng-repeat="company in companies">
                                <td>{{company.name}}
                                </td>
                                <td>{{company.employees}}
                                </td>
                                <td>{{company.headoffice}}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
</div>

    </body>
    </html>